<p>Por Pais</p>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
          <input type="text" name="termino" class="form-control" [(ngModel)]="termino" placeholder="Ingrese nombre pais"/>
    </form>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger">
  No encontramos el pais buscado !!!!! con el termino !!!
</div>

<div *ngIf="!error"  class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
      </thead>
      <tbody *ngFor="let pais of paises; let i = index">
            <td>{{i+1}}</td>
            <td><img class="small-flag" [src]="pais.flags.png" ></td>
            <td name="name">{{pais.name.common}}</td>
            <td>{{pais.population}}</td>
            <td><button class="button" (click)="obtenerPais(paises)">Ver detalle</button></td>
      </tbody>
    </table>
  </div>
</div>

